<%= form_for(@sales_status) do |f| %>
  <% if @sales_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_status.errors.count, "error") %> prohibited this sales_status from being saved:</h2>

      <ul>
      <% @sales_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status_type %><br>
    <%= f.text_field :status_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
