<p id="notice"><%= notice %></p>

<h1>Listing Sales Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Status type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_statuses.each do |sales_status| %>
      <tr>
        <td><%= sales_status.status_type %></td>
        <td><%= link_to 'Show', sales_status %></td>
        <td><%= link_to 'Edit', edit_sales_status_path(sales_status) %></td>
        <td><%= link_to 'Destroy', sales_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales status', new_sales_status_path %>
