<p id="notice"><%= notice %></p>

<h1>Listing Quote Statuses</h1>

<table id="quotestatus">
  <thead>
    <tr>
      <th>Status type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quote_statuses.each do |quote_status| %>
      <tr>
        <td><%= quote_status.status_type %></td>
        <td><%= link_to 'Show', quote_status %></td>
        <td><%= link_to 'Edit', edit_quote_status_path(quote_status) %></td>
        <td><%= link_to 'Destroy', quote_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote status', new_quote_status_path %>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="/DataTables-1.10.6/media/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="/DataTables-1.10.6/media/js/jquery.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="/DataTables-1.10.6/media/js/jquery.dataTables.js"></script>

<script>
  $(document).ready(function(){
      $('#quotestatus').DataTable();
  });
</script>