<p id="notice"><%= notice %></p>

<p>
  <strong>Status type:</strong>
  <%= @quote_status.status_type %>
</p>

<%= link_to 'Edit', edit_quote_status_path(@quote_status) %> |
<%= link_to 'Back', quote_statuses_path %>
