<html>
<body>

<p id="notice"><%= notice %></p>

<p>
  <strong>Quote Name:</strong>
  <%= @loan.quote.quote_name %>
</p>

<p>
  <strong>Quote Price</strong>
    <%= @loan.quote.quote_price %>
</p>

<p>
  <strong>Terms (Years):</strong>
  <%= @loan.terms %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @loan.interest_rate %>
</p>


<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>


<div id="something"></div>
<div id = "table"></div>

<script type="text/javascript">


    /* following code for testing purposes only */
    var principal = <%= @loan.quote.quote_price %>  //get the value by using DOM model. For example, getElementbyID(#id).val()
    var annualInterest = <%= @loan.interest_rate %>/100
    var lengthYears = <%= @loan.terms %>


    var monthlyInterest = annualInterest/(12);
    var numberOfMonths = lengthYears*12;
    var monthlyPayment = ((monthlyInterest * principal * Math.pow((1 + monthlyInterest),numberOfMonths))/((Math.pow((1 + monthlyInterest),numberOfMonths))-1))



    var paymentInterest, principalPayment;
    document.getElementById('something').innerHTML = 'Monthly Payment: $'+monthlyPayment.toFixed(2)+'<p>';



    var table = document.createElement('table');
    var header1 = document.createElement('th');
    var header2 = document.createElement('th');
    var header3 = document.createElement('th');
    var header4 = document.createElement('th');

    var monthHeader1 = document.createTextNode('Month');
    var monthHeader2 = document.createTextNode('Interest');
    var monthHeader3 = document.createTextNode('Principal');
    var monthHeader4 = document.createTextNode('Balance');

    header1.appendChild(monthHeader1);
    header2.appendChild(monthHeader2);
    header3.appendChild(monthHeader3);
    header4.appendChild(monthHeader4);

    table.appendChild(header1);
    table.appendChild(header2);
    table.appendChild(header3);
    table.appendChild(header4);


    for( var i = 1; i<=numberOfMonths; i++){

        var tr = document.createElement('tr')

        paymentInterest =  (principal*monthlyInterest);
        principalPayment = (monthlyPayment - paymentInterest);
        principal -= principalPayment;

        var td1 = document.createElement('td')
        var td2= document.createElement('td')
        var td3= document.createElement('td')
        var td4 = document.createElement('td')

        var text1 = document.createTextNode(i);
        var text2 = document.createTextNode(paymentInterest.toFixed(2));
        var text3 = document.createTextNode(principalPayment.toFixed(2));
        var text4 = document.createTextNode(principal.toFixed(2));

        td1.appendChild(text1);
        td2.appendChild(text2);
        td3.appendChild(text3);
        td4.appendChild(text4);

        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td3);
        tr.appendChild(td4);

        table.appendChild(tr);
    }


    document.body.appendChild(table);






</script>

</body>
</html>
