<%= form_for(@emp_position) do |f| %>
  <% if @emp_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emp_position.errors.count, "error") %> prohibited this emp_position from being saved:</h2>

      <ul>
      <% @emp_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position_desc %><br>
    <%= f.text_field :position_desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
