<p id="notice"><%= notice %></p>

<h1>Listing Emp Positions</h1>

<table>
  <thead>
    <tr>
      <th>Position desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emp_positions.each do |emp_position| %>
      <tr>
        <td><%= emp_position.position_desc %></td>
        <td><%= link_to 'Show', emp_position %></td>
        <td><%= link_to 'Edit', edit_emp_position_path(emp_position) %></td>
        <td><%= link_to 'Destroy', emp_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emp position', new_emp_position_path %>
