<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @car.make.make_name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year.year_date %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color.color_name %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
