<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @sale.quote.quote_name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer.name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @sale.employee.name %>
</p>

<p>
  <strong>Sale status:</strong>
  <%= @sale.sales_status.status_type%>
</p>

<p>
  <strong>Date:</strong>
  <%= @sale.date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sale.quotetax %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
