<!DOCTYPE html>
<html>
<head>
  <title>Automotivation inc.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--DataTables CDN-->
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.css">
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>

</head>
<body>

<div class="header">
  <h1> Automotivation Inc. Dashboard</h1>
  <%= link_to 'Home', root_url%>
  <%= link_to 'Sale', sales_url %>
  <%= link_to 'Cars Inventory', cars_url %>
  <%= link_to 'Quote', quotes_url %>
  <%= link_to 'Loan', loans_url %>
  <%= link_to 'Employee', employees_url %>
  <%= link_to 'Customer', customers_url %>

</div>
<%= yield %>

</body>
</html>
